@page
@using Acme.BookStore.Localization
@using Acme.BookStore.Web.Pages.NhaCungCaps
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}
<form asp-page="/NhaCungCaps/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewNCC"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="NCC.Name" />
            <abp-input asp-for="NCC.Address" />
            <abp-input asp-for="NCC.TellPhone" />
            <abp-select asp-for="NCC.Type" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
